@import url(var.css);
@import url(header.css);
@import url(footer.css);


main {
    margin: auto;
    width: 90vw;
    max-width: 500px;
    color: var(--negro);
}

main section {
    margin-block: 10%;
}

main .title {
    display: flex;
    justify-content: center;
}

.create-form {
    margin-top: 26px;
}

.form-control {
    margin-block: 12px;
}

.create-form label {
    display: block;
    margin-bottom: 4px;
    font-size: 0.95rem;
}

.control {
    width: 100%;
    padding: 8px 2px;
    border: 1px var(--gris) solid;
    border-radius: 12px;
}

.create-form button {
    width: 100%;
    margin-top: 12px;
    padding: 8px;
    border: 1px var(--gris) solid;
    border-radius: 8px;
    background-color: var(--azul);
    color: var(--blanco);
    cursor: pointer;
    font-weight: bold;
}



/*------------------------ MEDIA QUERIES ------------------------*/

@media (min-width: 860px) {
    main {
        max-width: 640px;
    }

    main section {
        border: 1px solid var(--gris);
        padding: 28px;
        border-radius: 26px;
    }
}