@import url(var.css);
@import url(header.css);
@import url(footer.css);

.articulo{
    width: 90%;
    margin: 10px;
    padding: 10px;
    display: inline-block;
}
.imagen{
padding: 10px;
max-width: 600px;
}
.descripcion{
    color: black;
    background-color: #F6EDEB;
    text-align: left;
    font-size: 17px;
}

.lista-detalle li{
    list-style: circle;
}
.fa-credit-card {
    color: var(--azul);
}
main h2{
    color: black;
    font-weight: bold;
    max-width: 100%;
}
.detalle{
    margin-left: 20px;
    
}
/*------------------------ MEDIA QUERIES ------------------------*/

@media (min-width: 860px) {
    .articulo { 
        display: flex;
    }

}