<%- include('./partials/head') %>

<%- include('./partials/header') %>

<main>
    <div style="margin:auto;width:50%;padding-block:10%;text-align:center">
        <h2>Links a las vistas (para testing):</h2>
        <ul>
            <li style="margin-bottom:10px;margin-top:10px"><a href="/login">LOGIN</a></li>
            <li style="margin-bottom:10px"><a href="/register">REGISTER</a></li>
            <li style="margin-bottom:10px"><a href="/productCart">CARRITO</a></li>
            <li style="margin-bottom:10px"><a href="/productDetail">DETALLE</a></li>
        </ul>
    </div>
</main>

<%- include('./partials/footer') %>