<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/home.css">
    <title>Insert Coin</title>
</head>

<body>
    <header>
        <section class="header-top-bar">

            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>

            <figure class="logo">
                <a href="/"><img src="img/logo-blanco.png" alt="Logo Insert Coin" class="logo-img"></a>
            </figure>

            <nav>
                <ul class="nav-bar">
                    <li><a href="#">Hardware <i class="fas fa-chevron-down"></i></a></li>
                    <li><a href="#">Computadoras <i class="fas fa-chevron-down"></i></a></li>
                    <li><a href="#">Notebooks <i class="fas fa-chevron-down"></i></a></li>
                    <li><a href="#">Periféricos <i class="fas fa-chevron-down"></i></a></li>
                    <li><a href="#">Consolas <i class="fas fa-chevron-down"></i></a></li>
                    <li><a href="#">Videojuegos <i class="fas fa-chevron-down"></i></a></li>
                </ul>
            </nav>

            <div class="icons">
                <div class="cart">
                    <a href="/productCart">
                        <i class="fas fa-shopping-cart"></i>
                        <span>Carrito</span>
                    </a>
                </div>

                <div class="account">
                    <a href="/login">
                        <i class="fas fa-user-circle"></i>
                        <span>Cuenta</span>
                    </a>
                </div>
            </div>

        </section>

        <div class="search">
            <form action="/" method="get" class="search-bar">
                <input type="text" name="search" required>
                <button class="searchBtn"><i class="fas fa-search"></i></button>
            </form>
        </div>
    </header>

    <main>
        <div class="Carrousel">
            Carrousel
            <div class="slide">
                <div class="slide-inner">
                    <input class="slide-open" type="radio" id="slide-1" 
                          name="slide" aria-hidden="true" hidden="" checked="checked">
                    <div class="slide-item">
                        <img src="/img/Computadoras/imagen-combo_gamer_144hz_ryzen_3100_gtx_1650_super_ram_8_ssd_240_fuente_real_500_aoc_24_144hz-2087726-800-600-1-75.jpg">
                    </div>
                    <input class="slide-open" type="radio" id="slide-2" 
                          name="slide" aria-hidden="true" hidden="">
                    <div class="slide-item">
                        <img src="/img/Notebooks/Portátil Asus M3500QA-L1224 -Ryzen 7-5800H 16GB SSD 512GB 15,6 Oled.jpg">
                    </div>
                    <input class="slide-open" type="radio" id="slide-3" 
                          name="slide" aria-hidden="true" hidden="">
                    <div class="slide-item">
                        <img src="/img/Hardware/Board Asrock B550m Hdv Amd Am4 Chipset B550 Pcie 4.0 Matx.jpg">
                    </div>
                    <label for="slide-3" class="slide-control prev control-1">‹</label>
                    <label for="slide-2" class="slide-control next control-1">›</label>
                    <label for="slide-1" class="slide-control prev control-2">‹</label>
                    <label for="slide-3" class="slide-control next control-2">›</label>
                    <label for="slide-2" class="slide-control prev control-3">‹</label>
                    <label for="slide-1" class="slide-control next control-3">›</label>
                    <ol class="slide-indicador">
                        <li>
                            <label for="slide-1" class="slide-circulo">•</label>
                        </li>
                        <li>
                            <label for="slide-2" class="slide-circulo">•</label>
                        </li>
                        <li>
                            <label for="slide-3" class="slide-circulo">•</label>
                        </li>
                    </ol>
                </div>
            </div>
    
        </div>
        <h2 class="titulares"> Los mejores productos </h2>
        <section class="seccion-ultima-visita">

            <article class="item">
                <div> <img class="foto" src="/img/img-cafetera-moulinex.jpg" alt="Cafetera"></div>
                <div class="descripción">
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% OFF</p>
                    <p class="nombre-producto">Cafetera Moulinex</p>
                </div>
            </article>

            <article class="item">
                <div> <img class="foto" src="/img/img-cafetera-moulinex.jpg" alt="Cafetera"></div>
                <div class="descripción">
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% OFF</p>
                    <p class="nombre-producto">Cafetera Moulinex</p>
                </div>
            </article>

            <article class="item">
                <div> <img class="foto" src="/img/img-cafetera-moulinex.jpg" alt="Cafetera"></div>
                <div class="descripción">
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% OFF</p>
                    <p class="nombre-producto">Cafetera Moulinex</p>
                </div>
            </article>

            <article class="item">
                <div> <img class="foto" src="/img/img-cafetera-moulinex.jpg" alt="Cafetera"></div>
                <div class="descripción">
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% OFF</p>
                    <p class="nombre-producto">Cafetera Moulinex</p>
                </div>
            </article>
            </div>

        </section>

        <div style="margin:auto;width:50%;padding-block:10%;text-align:center">
            <h2>Links a las vistas (para testing):</h2>
            <ul>
                <li style="margin-bottom:10px;margin-top:10px"><a href="/login">LOGIN</a></li>
                <li style="margin-bottom:10px"><a href="/register">REGISTER</a></li>
                <li style="margin-bottom:10px"><a href="/productCart">CARRITO</a></li>
                <li style="margin-bottom:10px"><a href="/productDetail">DETALLE</a></li>
            </ul>
        </div>
    </main>

    <footer>
        <section class="footer-links">
            <ul class="links">
                <li><a href="#">Contacto</a></li>
                <li><a href="#">Dejanos tu opinión</a></li>
                <li class="terms"><a href="#">Términos y condiciones</a></li>
                <li class="socials">Seguinos en nuestras redes</li>
            </ul>
        </section>

        <section class="footer-bottom-row">
            <section class="footer-info">
                <ul class="info">
                    <li><i class="far fa-envelope"></i> info@insertcoin.com</li>
                    <li><i class="fab fa-whatsapp"></i> +54 9 123123123</li>
                    <li><i class="fas fa-map-marker-alt"></i> Calle Falsa 123, Buenos Aires</li>
                </ul>
            </section>

            <figure class="footer-logo">
                <a href="/"><img src="img/logo-blanco.png" alt="Logo Insert Coin" class="logo-img"></a>
            </figure>

            <section class="footer-socials">
                <ul class="socials-icons">
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                </ul>
            </section>
        </section>
    </footer>
</body>

</html>