<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/login.css">
    <title>Insert Coin</title>
</head>
<body>
    <header>
        <section class="header-top-bar">

            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>

            <figure class="logo">
                <a href="/"><img src="img/logo-blanco.png" alt="Logo Insert Coin" class="logo-img"></a>
            </figure>

            <nav>
                <ul class="nav-bar">
                    <li><a href="#">Hardware <i class="fas fa-chevron-down"></i></a></li>
                    <li><a href="#">Computadoras <i class="fas fa-chevron-down"></i></a></li>
                    <li><a href="#">Notebooks <i class="fas fa-chevron-down"></i></a></li>
                    <li><a href="#">Periféricos <i class="fas fa-chevron-down"></i></a></li>
                    <li><a href="#">Consolas <i class="fas fa-chevron-down"></i></a></li>
                    <li><a href="#">Videojuegos <i class="fas fa-chevron-down"></i></a></li>
                </ul>
            </nav>

            <div class="icons">
                <div class="cart">
                    <a href="/productCart">
                        <i class="fas fa-shopping-cart"></i>
                        <span>Carrito</span>
                    </a>
                </div>

                <div class="account">
                    <a href="/login">
                        <i class="fas fa-user-circle"></i>
                        <span>Cuenta</span>
                    </a>
                </div>
            </div>

        </section>

        <div class="search">
            <form action="/" method="get" class="search-bar">
                <input type="text" name="search" required>
                <button class="searchBtn"><i class="fas fa-search"></i></button>
            </form>
        </div>
    </header>
    
    <main>
        
    </main>

    <footer>
        <section class="footer-links">
            <ul class="links">
                <li><a href="#">Contacto</a></li>
                <li><a href="#">Dejanos tu opinión</a></li>
                <li class="terms"><a href="#">Términos y condiciones</a></li>
                <li class="socials">Seguinos en nuestras redes</li>
            </ul>
        </section>

        <section class="footer-bottom-row">
            <section class="footer-info">
                <ul class="info">
                    <li><i class="far fa-envelope"></i> info@insertcoin.com</li>
                    <li><i class="fab fa-whatsapp"></i> +54 9 123123123</li>
                    <li><i class="fas fa-map-marker-alt"></i> Calle Falsa 123, Buenos Aires</li>
                </ul>
            </section>

            <figure class="footer-logo">
                <a href="/"><img src="img/logo-blanco.png" alt="Logo Insert Coin" class="logo-img"></a>
            </figure>

            <section class="footer-socials">
                <ul class="socials-icons">
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                </ul>
            </section>
        </section>
    </footer>
</body>
</html>