<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/productDetail.css">
    <title>Insert Coin</title>
</head>
<body>
    <header>
        <section class="header-top-bar">

            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>

            <figure class="logo">
                <a href="/"><img src="img/logo-blanco.png" alt="Logo Insert Coin" class="logo-img"></a>
            </figure>

            <nav>
                <ul class="nav-bar">
                    <li><a href="#">Hardware <i class="fas fa-chevron-down"></i></a></li>
                    <li><a href="#">Computadoras <i class="fas fa-chevron-down"></i></a></li>
                    <li><a href="#">Notebooks <i class="fas fa-chevron-down"></i></a></li>
                    <li><a href="#">Periféricos <i class="fas fa-chevron-down"></i></a></li>
                    <li><a href="#">Consolas <i class="fas fa-chevron-down"></i></a></li>
                    <li><a href="#">Videojuegos <i class="fas fa-chevron-down"></i></a></li>
                </ul>
            </nav>

            <div class="icons">
                <div class="cart">
                    <a href="/productCart">
                        <i class="fas fa-shopping-cart"></i>
                        <span>Carrito</span>
                    </a>
                </div>

                <div class="account">
                    <a href="/login">
                        <i class="fas fa-user-circle"></i>
                        <span>Cuenta</span>
                    </a>
                </div>
            </div>

        </section>

        <div class="search">
            <form action="/" method="get" class="search-bar">
                <input type="text" name="search" required>
                <button class="searchBtn"><i class="fas fa-search"></i></button>
            </form>
        </div>
    </header>
    
    <main>
        <article class="articulo">
            <div><img src = "/img/Notebooks/Asus_ROG_Strix_G15_gaming_laptop_AMD.jpg" class="imagen"></div>
            <div><h2>Asus_ROG_Strix_G15_gaming_laptop_AMD</h2>
            <p>ROG Strix G</p>
                <h3>$650.535</h3>
                <p><i class="fas fa-credit-card"></i> 12 Cuotas sin interés</p>
                <div class="descripcion"><h3>Descripción</h3>
                <ul class="lista-detalle">
                    <li>Hasta procesadores AMD Ryzen™ 9 6900HX y gráficas NVIDIA® GeForce RTX™ 3080 para portátiles.</li>
                    <li>Acción fluida y rápida con las opciones de pantalla FHD 300Hz/3ms y QHD 165Hz/3ms.</li>
                    <li>Hasta GPU NVIDIA® GeForce RTX™ 3080 de 150 W para portátiles con MUX Switch.</li>
                    <li>Dolby Vision y Dolby Atmos para una experiencia inmersiva.</li>
                    <li>Refrigeración inteligente ROG™: Metal líquido y ventiladores Arc Flow™ de 84 aspas.</li>
                    <li>Múltiples zonas de iluminación RGB con Aura Sync para expresar tu estilo.</li>
                </ul></div>
            </div>    
    
        </article>
    
    
    </main>

    <footer>
        <section class="footer-links">
            <ul class="links">
                <li><a href="#">Contacto</a></li>
                <li><a href="#">Dejanos tu opinión</a></li>
                <li class="terms"><a href="#">Términos y condiciones</a></li>
                <li class="socials">Seguinos en nuestras redes</li>
            </ul>
        </section>

        <section class="footer-bottom-row">
            <section class="footer-info">
                <ul class="info">
                    <li><i class="far fa-envelope"></i> info@insertcoin.com</li>
                    <li><i class="fab fa-whatsapp"></i> +54 9 123123123</li>
                    <li><i class="fas fa-map-marker-alt"></i> Calle Falsa 123, Buenos Aires</li>
                </ul>
            </section>

            <figure class="footer-logo">
                <a href="/"><img src="img/logo-blanco.png" alt="Logo Insert Coin" class="logo-img"></a>
            </figure>

            <section class="footer-socials">
                <ul class="socials-icons">
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                </ul>
            </section>
        </section>
    </footer>
</body>
</html>