<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/productCart.css">
    <title>Insert Coin</title>
</head>

<body>
    <header>
        <section class="header-top-bar">

            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>

            <figure class="logo">
                <a href="/"><img src="img/logo-blanco.png" alt="Logo Insert Coin" class="logo-img"></a>
            </figure>

            <nav>
                <ul class="nav-bar">
                    <li><a href="#">Hardware <i class="fas fa-chevron-down"></i></a></li>
                    <li><a href="#">Computadoras <i class="fas fa-chevron-down"></i></a></li>
                    <li><a href="#">Notebooks <i class="fas fa-chevron-down"></i></a></li>
                    <li><a href="#">Periféricos y accesorios <i class="fas fa-chevron-down"></i></a></li>
                    <li><a href="#">Consolas <i class="fas fa-chevron-down"></i></a></li>
                    <li><a href="#">Videojuegos <i class="fas fa-chevron-down"></i></a></li>
                </ul>
            </nav>

            <div class="icons">
                <div class="cart">
                    <a href="/productCart">
                        <i class="fas fa-shopping-cart"></i>
                        <span>Carrito</span>
                    </a>
                </div>

                <div class="account">
                    <a href="/login">
                        <i class="fas fa-user-circle"></i>
                        <span>Cuenta</span>
                    </a>
                </div>
            </div>

        </section>

        <div class="search">
            <form action="/" method="get" class="search-bar">
                <input type="text" name="search" required>
                <button class="searchBtn"><i class="fas fa-search"></i></button>
            </form>
        </div>
    </header>

    <main>
        <article class="descripcion-pedido">
            <h2>Descripción de tu pedido</h2>
        </article>

        <ul class="encabezado-pedido">
            <li>Producto</li>
            <li>Cantidad</li>
            <li>Subtotal</li>
        </ul>

<section class="carrito">
        <ul class="producto-en-carrito">
            <li><img class="foto"
                    src="/img/Computadoras/imagen-combo_gamer_144hz_ryzen_3100_gtx_1650_super_ram_8_ssd_240_fuente_real_500_aoc_24_144hz-2087726-800-600-1-75.jpg"
                    alt="Computadora"></li>
            <li><label for="cantidad"></label>
                <input type="number" id="cantidad" name="cantidad" min="1" max="100">
            </li>
            <li><label for="subtotal"></label>
                <input type="number" id="subtotal" name="subtotal" min="1" max="">
                <i class="fas fa-minus-circle"></i>
            </li>
        </ul>

        <ul class="producto-en-carrito">
            <li><img class="foto"
                    src="/img/Hardware/GIGABYTE GeForce RTX 3080 Turbo 10G Tarjeta gráfica GV-N3080TURBO-10GD-S (2X HDMI 2.1, 2X DisplayPort 1.4a, DirectX 12 Ultimate).jpg"
                    alt="Computadora"></li>
            <li><label for="cantidad"></label>
                <input type="number" id="cantidad" name="cantidad" min="1" max="100">
            </li>
            <li><label for="subtotal"></label>
                <input type="number" id="subtotal" name="subtotal" min="1" max="">
                <i class="fas fa-minus-circle"></i>
            </li>
        </ul>

        <ul class="producto-en-carrito">
            <li><img class="foto"
                    src="/img/Hardware/GIGABYTE NVIDIA GeForce RTX 3080 Ti VISION OC 12GB Graphics Card (PCIe 4.0, 12GB GDDR6X, HDMI 2.1, DisplayPort 1.4a, 3rd Generation Tensor Cores, 1710MHZ core clock).jpg"
                    alt="Computadora"></li>
            <li><label for="cantidad"></label>
                <input type="number" id="cantidad" name="cantidad" min="1" max="100">
            </li>
            <li><label for="subtotal"></label>
                <input type="number" id="subtotal" name="subtotal" min="1" max="">
                <i class="fas fa-minus-circle"></i>
            </li>
        </ul>

    </section>
    </main>

    <footer>
        <section class="footer-links">
            <ul class="links">
                <li><a href="#">Contacto</a></li>
                <li><a href="#">Dejanos tu opinión</a></li>
                <li class="terms"><a href="#">Términos y condiciones</a></li>
                <li class="socials">Seguinos en nuestras redes</li>
            </ul>
        </section>

        <section class="footer-bottom-row">
            <section class="footer-info">
                <ul class="info">
                    <li><i class="far fa-envelope"></i> info@insertcoin.com</li>
                    <li><i class="fab fa-whatsapp"></i> +54 9 123123123</li>
                    <li><i class="fas fa-map-marker-alt"></i> Calle Falsa 123, Buenos Aires</li>
                </ul>
            </section>

            <figure class="footer-logo">
                <a href="/"><img src="img/logo-blanco.png" alt="Logo Insert Coin" class="logo-img"></a>
            </figure>

            <section class="footer-socials">
                <ul class="socials-icons">
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                </ul>
            </section>
        </section>
    </footer>
</body>

</html>