<%- include('./partials/head', { stylesheet: "productCart" }) %>

   <%- include('./partials/header') %>

      <main>

         <section class="cartBuy">
            <div class="bodyCart">
               <ul>
                  <li>
                     <div class="tuCarrito">

                        <!-- <h2>Tu Carrito</h2>  -->

                        <div class="itemCarrito1">
                           <img class="foto"
                              src="/img/products/combo_gamer_144hz_ryzen_3100_gtx_1650_super_ram_8_ssd_240_fuente_real_500_aoc_24_144hz-2087726-800-600-1-75.jpg"
                              alt="Computadora">
                        </div>

                        <div class="itemCarrito2">
                           <h2> combo_gamer</h2>
                        </div>
                        <div class="itemCarrito3">
                           <i class="fas fa-trash"></i>
                        </div>
                        <div class="itemCarrito4">
                           <input id="number" type="number" value="42" />

                        </div>
                        <div class="itemCarrito5">
                           <h2> valor productos</h2>
                        </div>

                     </div>

                  <li>
                     <div class="tuCarrito">

                        <!-- <h2>Tu Carrito</h2>  -->

                        <div class="itemCarrito1">
                           <img class="foto"
                              src="/img/products/combo_gamer_144hz_ryzen_3100_gtx_1650_super_ram_8_ssd_240_fuente_real_500_aoc_24_144hz-2087726-800-600-1-75.jpg"
                              alt="Computadora">
                        </div>

                        <div class="itemCarrito2">
                           <h2> combo_gamer</h2>
                        </div>
                        <div class="itemCarrito3">
                           <i class="fas fa-trash"></i>
                        </div>
                        <div class="itemCarrito4">
                           <input id="number" type="number" value="42" />

                        </div>
                        <div class="itemCarrito5">
                           <h2> valor productos</h2>
                        </div>

                     </div>
                  </li>
               </ul>

               <!-- <div class="slider">

                  <div class="sliderItem1">
                     <img class="foto" src="/img/products/Asus_ROG_Strix_G15_gaming_laptop_AMD.jpg" alt="Computadora">
                  </div>

                  <div class="sliderItem2">
                     <img class="foto" src="/img/products/MSI GL Series GL65 Leopard negra 15.6.jpg" alt="Computadora">

                  </div>



               </div> -->



            </div>

         </section>

         <section>

            <div class="Resumen-compra">
               <div class="Resumen">
                  <h2> Resumen</h2>
               </div>
               <div class="Continuar-compra">
                  <button class="Continuar-compra">Continuar con la compra</button> 
                  
               </div>
               <div class="Cantidad-de-productos">
                  <h2> Cantidad de productos</h2>
               </div>
               <div class="Valor">
                  <h2> $$$$$</h2>
               </div>
               <div class="Total">
                  <h2> Total</h2>
               </div>
            </div>
         </section>


      </main>
      <%- include('./partials/footer') %>