<%- include('./partials/head') %>

<%- include('./partials/header') %>

<main>
 
    <h2 class="titulo"> Todos Los Productos </h2>
    <section class="titulares">

        <article class="item">
            <div> <img class="foto" src="\img\Computadoras\combo_gamer_144hz_ryzen_3100_gtx_1650_super_ram_8_ssd_240_fuente_real_500_aoc_24_144hz-2087726-800-600-1-75.jpg" alt="Notebook"></div>
            <div class="descripción">
                <p class="precio">15000$</p>
                <p class="nombre-producto">Combo Gamer 144hz Ryzen 3100 GTX 1650</p>
            </div>
        </article>

        <article class="item">
            <div> <img class="foto" src="\img\Hardware\Board Asrock B550m Hdv Amd Am4 Chipset B550 Pcie 4.0 Matx.jpg" alt="Notebook"></div>
            <div class="descripción">
                <p class="precio">$6.770</p>
                <p class="nombre-producto">Board Asrock B550m Hdv Amd Am4 Chipset B550 Pcie 4.0 Matx</p>
            </div>
        </article>

        <article class="item">
            <div> <img class="foto" src="\img\Hardware\GIGABYTE GeForce RTX 3080 Turbo 10G Tarjeta gráfica GV-N3080TURBO-10GD-S (2X HDMI 2.1, 2X DisplayPort 1.4a, DirectX 12 Ultimate).jpg" alt="Notebook"></div>
            <div class="descripción">
                <p class="precio">$9550</p>
                <p class="nombre-producto">GIGABYTE GeForce RTX 3080 Turbo 10G </p>
            </div>
        </article>

        <article class="item">
            <div> <img class="foto" src="\img\Hardware\motherboard-gigabyte-b550m-ds3h-ac-wifi.jpg" alt="Notebook"></div>
            <div class="descripción">
                <p class="precio">$6.770</p>
                <p class="nombre-producto">motherboard-gigabyte-b550m-ds3h</p>
            </div>
        </article>
        </div>

        <article class="item">
            <div> <img class="foto" src="\img\Notebooks\ASUS ROG Zephyrus G14.jpg" alt="Notebook"></div>
            <div class="descripción">
                <p class="precio">15000$</p>
                <p class="nombre-producto">ASUS ROG Zephyrus G14</p>
            </div>
        </article>

        <article class="item">
            <div> <img class="foto" src="\img\Notebooks\Asus_ROG_Strix_G15_gaming_laptop_AMD.jpg" alt="Notebook"></div>
            <div class="descripción">
                <p class="precio">15000$</p>
                <p class="nombre-producto">Asus ROG Strix G15 gaming laptop AMD</p>
            </div>
        </article>


        <article class="item">
            <div> <img class="foto" src="\img\Notebooks\MSI GL Series GL65 Leopard negra 15.6.jpg" alt="Notebook"></div>
            <div class="descripción">
                <p class="precio">15000$</p>
                <p class="nombre-producto">MSI GL Series GL65 Leopard negra 15.6</p>
            </div>
        </article>

        <article class="item">
            <div> <img class="foto" src="\img\Notebooks\Portátil Asus M3500QA-L1224 -Ryzen 7-5800H 16GB SSD 512GB 15,6 Oled.jpg" alt="Notebook"></div>
            <div class="descripción">
                <p class="precio">15000$</p>
                <p class="nombre-producto">Portátil Asus M3500QA-L1224 -Ryzen 7-5800H </p>
            </div>
        </article>

        <article class="item">
            <div> <img class="foto" src="\img\Perifericos\Halo Infinite, periféricos Razer.jpg" alt="Notebook"></div>
            <div class="descripción">
                <p class="precio">15000$</p>
                <p class="nombre-producto">Halo Infinite, periféricos Razer</p>
            </div>
        </article>

        <article class="item">
            <div> <img class="foto" src="\img\Videojuegos\Bloodborne.jpg" alt="Notebook"></div>
            <div class="descripción">
                <p class="precio">15000$</p>
                <p class="nombre-producto">Bloodborne</p>
            </div>
        </article>

        <article class="item">
            <div> <img class="foto" src="\img\Videojuegos\FarCry 6.jpg" alt="Notebook"></div>
            <div class="descripción">
                <p class="precio">15000$</p>
                <p class="nombre-producto">FarCry 6</p>
            </div>
        </article>

        <article class="item">
            <div> <img class="foto" src="\img\Videojuegos\Microsoft-Xbox-One-S.jpg" alt="Notebook"></div>
            <div class="descripción">
                <p class="precio">15000$</p>
                <p class="nombre-producto">Microsoft-Xbox-One-S</p>
            </div>
        </article>

        <article class="item">
            <div> <img class="foto" src="\img\Videojuegos\Monster Hunter World.jpg" alt="Notebook"></div>
            <div class="descripción">
                <p class="precio">15000$</p>
                <p class="nombre-producto">Monster Hunter World</p>
            </div>
        </article>

        <article class="item">
            <div> <img class="foto" src="\img\Videojuegos\PS4.jpg" alt="Notebook"></div>
            <div class="descripción">
                <p class="precio">15000$</p>
                <p class="nombre-producto">Play Station 4</p>
            </div>
        </article>

        <article class="item">
            <div> <img class="foto" src="\img\Videojuegos\PS5.jpg" alt="Notebook"></div>
            <div class="descripción">
                <p class="precio">15000$</p>
                <p class="nombre-producto">Play Station 5</p>
            </div>
        </article>

        <article class="item">
            <div> <img class="foto" src="\img\Videojuegos\Resident Evil 2.jpg" alt="Notebook"></div>
            <div class="descripción">
                <p class="precio">15000$</p>
                <p class="nombre-producto">Resident Evil 2</p>
            </div>
        </article>

        <article class="item">
            <div> <img class="foto" src="\img\Videojuegos\Spider-man.jpg" alt="Notebook"></div>
            <div class="descripción">
                <p class="precio">15000$</p>
                <p class="nombre-producto">Spider-man</p>
            </div>
        </article>

        <article class="item">
            <div> <img class="foto" src="\img\Videojuegos\Xbox Series X.jpg" alt="Notebook"></div>
            <div class="descripción">
                <p class="precio">15000$</p>
                <p class="nombre-producto">Xbox Series X</p>
            </div>
        </article>
    </section>
</main>

<%- include('./partials/footer') %>