<%- include('./partials/head') %>

<%- include('./partials/header') %>

<main>

    <section>

        <article class="title">
            <h2>Crear cuenta</h2>
        </article>

        <article class="form">
            <form action="/" method="post" class="create-form">

                <div class="form-control">
                    <label for="email">Direcci칩n de correo electr칩nico</label>
                    <input type="email" name="email" id="email" class="control" required>
                </div>

                <div class="form-control">
                    <label for="username">Usuario</label>
                    <input type="text" name="username" id="username" class="control" required>
                </div>

                <div class="form-control">
                    <label for="password">Contrase침a</label>
                    <input type="password" name="password" id="password" class="control" required>
                </div>

                <div class="form-control">
                    <label for="password-confirm">Confirmar contrase침a</label>
                    <input type="password" name="password-confirm" id="password-confirm" class="control" required>
                </div>
                
                <button type="submit">CREAR CUENTA</button>

            </form>
        </article>

    </section>

</main>

<%- include('./partials/footer') %>