<footer>
    <section class="footer-links">
        <ul class="links">
            <li><a href="#">Contacto</a></li>
            <li><a href="#">Dejanos tu opinión</a></li>
            <li class="terms"><a href="#">Términos y condiciones</a></li>
            <li class="socials">Seguinos en nuestras redes</li>
        </ul>
    </section>

    <section class="footer-bottom-row">
        <section class="footer-info">
            <ul class="info">
                <li><i class="far fa-envelope"></i> info@insertcoin.com</li>
                <li><i class="fab fa-whatsapp"></i> +54 9 123123123</li>
                <li><i class="fas fa-map-marker-alt"></i> Calle Falsa 123, Buenos Aires</li>
            </ul>
        </section>

        <figure class="footer-logo">
            <a href="/"><img src="/img/logo-blanco.png" alt="Logo Insert Coin" class="logo-img"></a>
        </figure>

        <section class="footer-socials">
            <ul class="socials-icons">
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            </ul>
        </section>
    </section>
</footer>
</body>
</html>