<body>
    <header>
        <section class="header-top-bar">

            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>

            <figure class="logo">
                <a href="/"><img src="/img/logo-blanco.png" alt="Logo Insert Coin" class="logo-img"></a>
            </figure>

            <nav>
                <ul class="nav-bar">
                    <li><a href="/products?category=hardware">Hardware</a></li>
                    <li><a href="/products?category=computadoras">Computadoras</a></li>
                    <li><a href="/products?category=notebooks">Notebooks</a></li>
                    <li><a href="/products?category=perifericos">Periféricos</a></li>
                    <li><a href="/products?category=consolas">Consolas</a></li>
                    <li><a href="/products?category=videojuegos">Videojuegos</a></li>
                </ul>
            </nav>

            <div class="icons">
                <div class="cart">
                    <a href="/cart">
                        <i class="fas fa-shopping-cart"></i>
                        <span>Carrito</span>
                    </a>
                </div>

                <div class="account">
                    <a href="/login">
                        <i class="fas fa-user-circle"></i>
                        <span>Cuenta</span>
                    </a>
                </div>
            </div>

        </section>

        <div class="search">
            <form action="/products" method="GET" class="search-bar">
                <input type="text" name="search" required>
                <button class="searchBtn"><i class="fas fa-search"></i></button>
            </form>
        </div>
    </header>