<body>
    <header>
        <section class="header-top-bar">

            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>

            <figure class="logo">
                <a href="/"><img src="/img/logo-blanco.png" alt="Logo Insert Coin" class="logo-img"></a>
            </figure>

            <nav>
                <ul class="nav-bar">
                    <li><a href="#">Hardware <i class="fas fa-chevron-down"></i></a></li>
                    <li><a href="#">Computadoras <i class="fas fa-chevron-down"></i></a></li>
                    <li><a href="#">Notebooks <i class="fas fa-chevron-down"></i></a></li>
                    <li><a href="#">Periféricos <i class="fas fa-chevron-down"></i></a></li>
                    <li><a href="#">Consolas <i class="fas fa-chevron-down"></i></a></li>
                    <li><a href="#">Videojuegos <i class="fas fa-chevron-down"></i></a></li>
                </ul>
            </nav>

            <div class="icons">
                <div class="cart">
                    <a href="/productCart">
                        <i class="fas fa-shopping-cart"></i>
                        <span>Carrito</span>
                    </a>
                </div>

                <div class="account">
                    <a href="/login">
                        <i class="fas fa-user-circle"></i>
                        <span>Cuenta</span>
                    </a>
                </div>
            </div>

        </section>

        <div class="search">
            <form action="/" method="get" class="search-bar">
                <input type="text" name="search" required>
                <button class="searchBtn"><i class="fas fa-search"></i></button>
            </form>
        </div>
    </header>