<%- include('./partials/head') %>

<%- include('./partials/header') %>

<main>
    <div class="Carrousel">
        Carrousel
        <div class="slide">
            <div class="slide-inner">
                <input class="slide-open" type="radio" id="slide-1" 
                      name="slide" aria-hidden="true" hidden="" checked="checked">
                <div class="slide-item">
                    <img src="\img\Videojuegos\PS4.jpg">
                </div>
                <input class="slide-open" type="radio" id="slide-2" 
                      name="slide" aria-hidden="true" hidden="">
                <div class="slide-item">
                    <img src="/img/Notebooks/Portátil Asus M3500QA-L1224 -Ryzen 7-5800H 16GB SSD 512GB 15,6 Oled.jpg">
                </div>
                <input class="slide-open" type="radio" id="slide-3" 
                      name="slide" aria-hidden="true" hidden="">
                <div class="slide-item">
                    <img src="/img/Hardware/Board Asrock B550m Hdv Amd Am4 Chipset B550 Pcie 4.0 Matx.jpg">
                </div>
                <label for="slide-3" class="slide-control prev control-1">‹</label>
                <label for="slide-2" class="slide-control next control-1">›</label>
                <label for="slide-1" class="slide-control prev control-2">‹</label>
                <label for="slide-3" class="slide-control next control-2">›</label>
                <label for="slide-2" class="slide-control prev control-3">‹</label>
                <label for="slide-1" class="slide-control next control-3">›</label>
                <ol class="slide-indicador">
                    <li>
                        <label for="slide-1" class="slide-circulo">•</label>
                    </li>
                    <li>
                        <label for="slide-2" class="slide-circulo">•</label>
                    </li>
                    <li>
                        <label for="slide-3" class="slide-circulo">•</label>
                    </li>
                </ol>
            </div>
        </div>

    </div>

    
    <h2 class="titulo"> Los mejores productos </h2>
    <section class="titulares">

        <article class="item">
            <div> <img class="foto" src="\img\Notebooks\MSI GL Series GL65 Leopard negra 15.6.jpg" alt="Notebook"></div>
            <div class="descripción">
                <p class="precio">15000$</p>
                <p class="nombre-producto">Notebooks\MSI GL Series GL65 Leopard negra 15.6</p>
            </div>
        </article>

        <article class="item">
            <div> <img class="foto" src="\img\Notebooks\Portátil Asus M3500QA-L1224 -Ryzen 7-5800H 16GB SSD 512GB 15,6 Oled.jpg" alt="Notebook"></div>
            <div class="descripción">
                <p class="precio">$6.770</p>
                <p class="nombre-producto">Portátil Asus M3500QA-L1224 -Ryzen 7-5800H 16GB SSD 512GB 15,6 Oled</p>
            </div>
        </article>

        <article class="item">
            <div> <img class="foto" src="\img\Notebooks\ASUS ROG Zephyrus G14.jpg" alt="Notebook"></div>
            <div class="descripción">
                <p class="precio">$9550</p>
                <p class="nombre-producto">ASUS ROG Zephyrus G14.jpg</p>
            </div>
        </article>

        <article class="item">
            <div> <img class="foto" src="\img\Notebooks\MSI GL Series GL65 Leopard negra 15.6.jpg" alt="Notebook"></div>
            <div class="descripción">
                <p class="precio">$6.770</p>
                <p class="nombre-producto">MSI GL Series GL65 Leopard negra 15.6</p>
            </div>
        </article>
        </div>

        <h2 class="titulo"> Los mejores productos </h2>
        <section class="titulares">
    
            <article class="item">
                <div> <img class="foto" src="\img\Videojuegos\Resident Evil 2.jpg" alt="videojuego"></div>
                <div class="descripción">
                    <p class="precio">15000$</p>
                    <p class="nombre-producto">Resident Evil 2</p>
                </div>
            </article>
    
            <article class="item">
                <div> <img class="foto" src="\img\Videojuegos\FarCry 6.jpg" alt="videojuego"></div>
                <div class="descripción">
                    <p class="precio">$6.770</p>
                    <p class="nombre-producto">Far Cry 6</p>
                </div>
            </article>
    
            <article class="item">
                <div> <img class="foto" src="\img\Videojuegos\Bloodborne.jpg" alt="videojuego"></div>
                <div class="descripción">
                    <p class="precio">$6.770</p>
                    <p class="nombre-producto">Bloodborne</p>
                </div>
            </article>
    
            <article class="item">
                <div> <img class="foto" src="\img\Videojuegos\Monster Hunter World.jpg" alt="videojuego"></div>
                <div class="descripción">
                    <p class="precio">$6.770</p>
                    <p class="nombre-producto">Monster Hunter World</p>
                </div>
            </article>
            </div>
    </section>
    <div style="margin:auto;width:50%;padding-block:10%;text-align:center">
        <h2>Links a las vistas (para testing):</h2>
        <ul>
            <li style="margin-bottom:10px;margin-top:10px"><a href="/login">LOGIN</a></li>
            <li style="margin-bottom:10px"><a href="/register">REGISTER</a></li>
            <li style="margin-bottom:10px"><a href="/productCart">CARRITO</a></li>
            <li style="margin-bottom:10px"><a href="/productDetail">DETALLE</a></li>
            <li style="margin-bottom:10px"><a href="/ListadoDeProductos">LISTA DE PRODUCTOS</a></li>
            <li style="margin-bottom:10px"><a href="/formularioDeCreacion">FORMULARIO DE CREACION</a></li>
            <li style="margin-bottom:10px"><a href="/formularioDeEdicion">FORMULARIO DE EDICION</a></li>
        </ul>
    </div>
</main>

<%- include('./partials/footer') %>